BOT_TOKEN=
ADMIN_CHAT_ID=
ADMIN_USERNAME=
PHOTO_STORAGE_CHAT_ID=7162508527
DATABASE_PATH=/app/data/booking.db
DATA_DIR=/app/data
BOT_USERNAME=
ADMIN_USER_IDS=
WEBAPP_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
PAYMENT_INSTRUCTIONS=
